<config>
    <mapping>
        <src>user.name</src>
        <dst>userInfo.fullName</dst>
    </mapping>

    <mapping>
        <src>user.age</src>
        <dst>userInfo.age</dst>
    </mapping>

    <mapping>
        <src>user.tags[]</src>
        <dst>tags[]</dst>
    </mapping>

    <mapping>
        <src>user.orders[].amount</src>
        <dst>orders[]</dst>
        <multiply>1.5</multiply>
        <scale>2</scale>
    </mapping>

    <mapping>
        <src>user.orders[].items[].price</src>
        <dst>orderPrice[]</dst>
    </mapping>
</config>